@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,700;1,800&display=swap');

/* Modal */
.modal {
    border-radius: 1.5rem !important;
}

.modal-content {
    background-color: #f9f9f9;
    width: 60rem;
    height: 25rem;
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 15%;
    align-items: center;
    text-align: center;
    border-radius: 1.6rem 1.6rem 1.6rem 1.6rem !important;
}

.modal-header,
h4,
.close {
    background-color: #e1429f;
    color: white !important;
    text-align: center;
    border-radius: 1.5rem 1.5rem 0 0 !important;
    transition: .2s ease-out;
}

.modal-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 5rem !important;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
}

.modal-body {
    height: 15rem;
}

.modal-footer {
    height: 35%;
    background-color: #f9f9f9;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 0 0 1.5rem 1.5rem !important;
}

.inicijali {
    color: #202020;
    font-family: sans-serif;
    font-family: inherit;
    text-align: center;
    position: absolute;
    width: 20%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.75rem !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 0.45rem;
    text-transform: uppercase;
}

/* Close Button */
.btn-default {
    background-color: #e1429f !important;
    color: white !important;
    position: relative;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    text-align: center !important;
    margin: auto !important;
    display: table-cell !important;
    vertical-align: middle !important;
    line-height: 1.75rem !important;
    border: none !important;
    outline: none !important;
    width: 15rem;
    height: 4.75rem;
    box-shadow: inset 0px 1px 1px 0px #ecbbff80, 5px 5px 10px 0px rgba(26, 0, 34, 0.102),
        4px 4px 5px 0px #1a00221a;
    font-size: 1.75rem !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    letter-spacing: 0.45rem;
    text-transform: uppercase;
    transition: .2s ease-out;
}

.btn-default:hover {
    opacity: 0.8;
    border: none;
    outline: none;
}

.btn-default:active {
    color: #ffffff !important;
    opacity: 1;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Page Content */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    background-image: linear-gradient(165deg, #ffd079 10%, #d84a6e 40%, #6200b3 100%);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    display: block;
    text-align: center;
    align-self: center;
    margin-top: 10%;
    width: 70rem;
    height: 38rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* INICIJALI naslov */
header {
    margin-bottom: 8%;
    background-color: #202020;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-top: -3%;
    margin-right: -2.45%;
    margin-left: -2.45%;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    margin-bottom: 8%;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#ffd079), color-stop(#ff8079), color-stop(#ff678d), color-stop(#d84a6e), color-stop(#d84aa2), color-stop(#d84ad8), color-stop(#a12eff), to(#6200b3)) repeat scroll 0% 0%/200% 200%;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #ffd079, #ff8079, #ff678d, #d84a6e, #d84aa2, #d84ad8, #a12eff, #6200b3) repeat scroll 0% 0%/200% 200%;
    background-clip: border-box;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: GradientAnimation 5s ease infinite;
    animation: GradientAnimation 5s ease infinite;
}

/* .title:hover {
    -webkit-animation: GradientAnimation 2s ease infinite;
    animation: GradientAnimation 2s ease infinite;
} */

@keyframes GradientAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

input {
    border: none;
    /* border-radius: 0.25rem; */
    display: inline-block;
    outline-style: solid;
    outline: 2px solid #202020;
    width: 55rem;
    height: 7.5rem;
    margin-top: 5%;
    margin-bottom: 1.5%;
    text-align: center;
}

.imeIPrezime {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-text-fill-color: #8d8d8d;
    letter-spacing: 0.25rem;
    text-align: center;
}

/* SAZNAJ INICIJALE Button */
.btn-2 {
    background-color: #e1429f !important;
    color: white !important;
    position: relative;
    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    text-align: center;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    margin-top: 4%;
    border: none;
    outline: none;
    width: 37rem;
    height: 5.25rem;
    margin-bottom: 5%;
    border-radius: 0.5rem;
    box-shadow: inset 0px 2px 2px 0px #ecbbff80, 5px 5px 10px 0px rgba(26, 0, 34, 0.102),
        4px 4px 5px 0px #1a00221a;
    font-size: 1.75rem !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.btn-2:hover {
    opacity: 0.8;
    border: none;
    outline: none;
}

.btn-2:active {
    opacity: 1;
    color: #ffffff !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Refresh Button */
.btn-1 {
    display: inline-block;
    padding: 0.5rem;
    margin-left: 82.5%;
    margin-bottom: -55%;
    margin-top: -70%;
    vertical-align: middle;
    border: none;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background-color: #e1429f;
    cursor: pointer;
    transition: all .2s ease;
}

.btn-1:hover {
    background-color: #ee6ab7;
}

.btn-1:active {
    background-color: #e1429f;
    box-shadow: 0 1px 2px #00000000;
}

.material-icons.md-36 {
    font-size: 3rem;
    color: #ffffff;
    float: left;
}

.material-icons.md-36:active {
    color: #ffffff;
    font-style: bold;
}

/* //////////////////////////////////////////////////// */
/* Responsiveness */
@media screen and (max-width: 992px) {
    /* Modal */
    .modal {
        border-radius: 1.2rem !important;
    }

    .modal-content {
        width: 46.75rem;
        height: 21rem;
        margin-top: 10%;
        border-radius: 1.4rem 1.4rem 1.4rem 1.4rem !important;
    }

    .modal-header,
    h4,
    .close {
        border-radius: 1.3rem 1.3rem 0 0 !important;
    }
    
    .modal-title {
        font-size: 2.25rem;
        line-height: 3.75rem !important;
        letter-spacing: 0.25rem;
        display: inline-flex;
        justify-content: center; /* center the content horizontally */
        align-items: center; /* center the content vertically */
    }
    
    .modal-body {
        height: 11.5rem;
    }
    
    .modal-footer {
        border-radius: 0 0 1.3rem 1.3rem !important;
    }

    .inicijali {
        font-size: 2rem !important;
        letter-spacing: 0.25rem;
    }

    .btn-default {
        line-height: 1.5rem !important;
        width: 11.25rem;
        height: 3.5rem;
        box-shadow: inset 0px 1px 1px 0px #ecbbff80, 3px 3px 7px 0px rgba(26, 0, 34, 0.102),
            3px 3px 4px 0px #1a00221a;
        font-size: 1.5rem !important;
        letter-spacing: 0.25rem;
        display: inline-flex;
        justify-content: center; /* center the content horizontally */
        align-items: center; /* center the content vertically */
    }

    /* Page Content */
    div.container {
        width: 55rem;
        height: 30rem;
        border-radius: 1.25rem;
    }

    header {
        border-radius: 1.25rem 1.25rem 0 0;
        margin-top: -3.85%;
        margin-right: -2.9%;
        margin-left: -2.9%;
    }

    .title {
        font-size: 4rem;
        letter-spacing: 1rem;
        padding: 2rem;
    }

    input {
        outline: 0.25rem solid #202020;
        width: 42rem;
        height: 5.75rem;
    }

    .imeIPrezime {
        font-size: 1.75rem;
        letter-spacing: 0.15rem;
    }

    .btn-2 {
        margin-top: 3% !important;
        width: 28rem;
        height: 4rem;
        border-radius: 0.4rem;
        box-shadow: inset 0px 1px 1px 0px #ecbbff80, 3px 3px 7px 0px rgba(26, 0, 34, 0.102),
            3px 3px 4px 0px #1a00221a;
        font-size: 1.5rem !important;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: auto;
        display: table-cell;
        vertical-align: middle;
    }

    .btn-1 {
        padding: 0.4rem;
        margin-left: 81%;
        margin-bottom: -55%;
        margin-top: -70%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    }

    .material-icons.md-36 {
        font-size: 2.5rem;
        color: #ffffff;
        float: left;
    }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {
    /* Modal */
    .modal {
        border-radius: 1rem !important;
    }

    .modal-content {
        width: 29.75rem;
        height: 15rem;
        margin-top: 7%;
        border-radius: 1.1rem 1.1rem 1.1rem 1.1rem !important;
    }

    .modal-header,
    h4,
    .close {
        border-radius: 1rem 1rem 0 0 !important;
    }

/*     .close {
        margin-top: -5% !important;
        margin-right: -2.5% !important;
    } */
    
    .modal-title {
        font-size: 1.5rem;
        line-height: 2.5rem !important;
        letter-spacing: 0.2rem;
        display: inline-flex;
        justify-content: center; /* center the content horizontally */
        align-items: center; /* center the content vertically */
    }
    
    .modal-body {
        height: 7.5rem;
    }
    
    .modal-footer {
        border-radius: 0 0 1rem 1rem !important;
    }

    .inicijali {
        font-size: 1.5rem !important;
        letter-spacing: 0.15rem;
    }

    .btn-default {
        line-height: 1.15rem !important;
        width: 7.25rem;
        height: 2.3rem;
        box-shadow: inset 0px 1px 1px 0px #ecbbff80, 3px 3px 7px 0px rgba(26, 0, 34, 0.102),
            3px 3px 4px 0px #1a00221a;
        font-size: 1.15rem !important;
        letter-spacing: 0.2rem;
        line-height: 1.15rem !important;
        display: inline-flex;
        justify-content: center; /* center the content horizontally */
        align-items: center; /* center the content vertically */
    }

    /* Page Content */
    div.container {
        width: 35rem;
        height: 19.5rem;
        border-radius: 1rem;
    }

    header {
        border-radius: 1rem 1rem 0 0;
        margin-top: -6.25%;
        margin-right: -4.75%;
        margin-left: -4.75%;
    }

    .title {
        font-size: 2.75rem;
        letter-spacing: 0.65rem;
        padding: 1.5rem;
    }

    input {
        outline: 0.15rem solid #202020;
        width: 28rem;
        height: 3.75rem;
    }

    .imeIPrezime {
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
    }

    .btn-2 {
        margin-top: 0.75% !important;
        width: 19rem;
        height: 2.75rem;
        border-radius: 0.3rem;
        box-shadow: inset 0px 1px 1px 0px #ecbbff80, 3px 3px 7px 0px rgba(26, 0, 34, 0.102),
            3px 3px 4px 0px #1a00221a;
        font-size: 1.15rem !important;
        letter-spacing: 0.2rem;
        text-align: center;
        margin: auto;
        display: table-cell;
        vertical-align: middle;
    }

    .btn-1 {
        padding: 0.25rem;
        margin-left: 87.5%;
        margin-bottom: -56.5%;
        margin-top: -75%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    }

    .material-icons.md-36 {
        font-size: 1.75rem;
        color: #ffffff;
        float: left;
    }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 360px) {
    /* Modal */
    .modal {
        border-radius: 0.75rem !important;
        display: inline-flex;
        justify-content: center; /* center the content horizontally */
        align-items: center; /* center the content vertically */
    }

    .modal-content {
        width: 22.75rem;
        height: 13rem;
        margin-top: 7%;
        border-radius: 1rem 1rem 1rem 1rem !important;
    }

    .modal-header,
    h4,
    .close {
        border-radius: 0.75rem 0.75rem 0 0 !important;
    }
    
    .close {
        margin-top: -5% !important;
        margin-right: -2.5% !important;
    }

    .modal-title {
        font-size: 1.25rem;
        line-height: 75% !important;
        letter-spacing: 0.15rem;
        display: inline-flex;
        justify-content: center; /* center the content horizontally */
        align-items: center; /* center the content vertically */
    }
    
    .modal-body {
        height: 5rem;
    }
    
    .modal-footer {
        height: 30%;
        border-radius: 0 0 0.75rem 0.75rem !important;
    }

    .inicijali {
        font-size: 1.3rem !important;
        letter-spacing: 0.1rem;
    }

    .btn-default {
        line-height: 0.85rem !important;
        width: 5.5rem;
        height: 2rem;
        box-shadow: inset 0px 1px 1px 0px #ecbbff80, 2px 2px 5px 0px rgba(26, 0, 34, 0.102),
            2px 2px 3px 0px #1a00221a;
        font-size: 0.85rem !important;
        letter-spacing: 0.1rem;
        line-height: 0.85rem !important;
        margin-top: -7.5% !important;
        display: inline-flex;
        justify-content: center; /* center the content horizontally */
        align-items: center; /* center the content vertically */
    }

    /* Page Content */
    div.container {
        width: 27rem;
        height: 15.5rem;
        border-radius: 0.75rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    }

    header {
        border-radius: 0.75rem 0.75rem 0 0;
        margin-top: -8.25%;
        margin-right: -6.25%;
        margin-left: -6.25%;
    }

    .title {
        font-size: 2.25rem;
        letter-spacing: 0.45rem;
        padding: 1rem;
    }

    input {
        outline: 0.1rem solid #202020;
        width: 20rem;
        height: 3rem;
    }

    .imeIPrezime {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    .btn-2 {
        margin-top: 0% !important;
        width: 14rem;
        height: 2rem;
        border-radius: 0.2rem;
        box-shadow: inset 0px 1px 1px 0px #ecbbff80, 2px 2px 5px 0px rgba(26, 0, 34, 0.102),
            2px 2px 3px 0px #1a00221a;
        font-size: 0.85rem !important;
        letter-spacing: 0.15rem;
        margin-left: 50%;
        margin-right: 50%;
        text-align: center;
        margin: auto;
        display: table-cell;
        vertical-align: middle;
    }

    .btn-1 {
        padding: 0.2rem;
        margin-left: 83.5%;
        margin-bottom: -55.5%;
        margin-top: -77.5%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    }

    .material-icons.md-36 {
        font-size: 1.35rem;
        color: #ffffff;
        float: left;
    }
}
    